/*--------------------------------------------------------------
	gallery 3 col
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#7.0	page-title
--------------------------------------------------------------*/
.gallery-3col {
	.page-title-bg {
		@include background-style("../images/page-title-bg/gallery-3col-pagetitle.jpg", center center, cover, no-repeat, local);
	}
}


/*--------------------------------------------------------------
#7.1	gallery-3col-content
--------------------------------------------------------------*/
.gallery-3col-content {
	padding-bottom: 100px;

	@include media-query(767px) {
		padding-bottom: 80px;
	}

	.gallery-container {
		overflow: hidden;
		margin: 0 -13px;

		@include media-query(991px) {
			margin: 0;
		}

		.box {
			width: 33.33%;
			float: left;
			padding: 0 13px 26px;

			@include media-query(991px) {
				padding: 0;
				margin: -1px;
			}

			@include media-query(500px) {
				width: 50%;
			}
		}
	}
}


