/*--------------------------------------------------------------
	volunteers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#5.0	page-title
--------------------------------------------------------------*/
.volunteers-page .page-title-bg {
	@include background-style("../images/page-title-bg/volunteers-pagetitle-bg.jpg", center center, cover, no-repeat, local);
}


/*--------------------------------------------------------------
#5.1	cta-2
--------------------------------------------------------------*/
.volunteers-page .cta-2 {
	position: relative;

	.sing-up {
		border-left: 1px solid $black;
	}

	.sing-up-border {
		content: "";
		height: 100%;
		position: absolute;
		top: 0;
		background: transparent;
		border-top: 1px solid $black;
		border-right: 1px solid $black;
		border-bottom: 1px solid $black;

		@include widther(992px) {
			width: 58.34%;
			right: 0;
		}

		@include media-query(991px) {
			width: 66.67%;
			right: 0;
		}

		@include media-query(767px) {
			width: 100%;
			right: 0;
		}
	}
}

.volunteers-page .volunteers {
	@include media-query(991px) {
		padding-bottom: 90px;
	}

	@include media-query(767px) {
		padding-bottom: 60px;
	}
}

.volunteers-page .pagination-wrapper {
	margin-top: 50px;

	@include media-query(991px) {
		margin-top: 20px;
	}

	@include media-query(767px) {
		margin-top: 10px;
	}
}
